.container {
  width: 50%;
  background-color: #0074d9;
  color: #e4ecf1;
  padding-bottom: 20px;
}

.listContainer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  font-family: "Ropamix light italic";
  font-size: 1.3rem;
}

.container h2 {
  padding: 0px 20px;
  font-family: "Ropamix bold";
}

.listContainer li {
  padding: 20px 0px;
  border-bottom: 1px solid;
}

.listContainer a {
  text-decoration: none;
  color: #e4ecf1;
  padding: 20px 0px;
  margin: 0px 20px;
  border-bottom: 1px solid;
}

.icon {
  padding-right: 10px;
}

/* Small screens */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px 0px;
  }

  .container h2 {
    font-size: 1.5rem;
    padding: 0px;
  }

  .listContainer {
    padding: 0px 30px;
    font-size: 0.8rem;
  }

  .listContainer li {
    padding: 15px 0px;
  }

  .listContainer a {
    margin: 0px 5px;
    padding: 10px 0px;
  }
}
