.container {
  width: 50%;
  background-color: #e5cd15;
  padding: 50px 20px;
}

.listContainer {
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  font-family: "Ropamix light italic";
  font-size: 1.3rem;
}

.container h2 {
  padding: 0px 20px;
  font-family: "Ropamix bold";
}

.inquiryForm {
  display: flex;
  flex-direction: column;
}

.formContainer {
  display: flex;
  justify-content: center;
}

.inputGroup {
  display: flex;
  gap: 10px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-bottom: 15px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  border-radius: 15px;
  flex: 1;
}

textarea {
  height: 120px;
}

.formButton {
  background-color: #0074d9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 15px;
  width: 7rem;
  font-size: 1rem;
}

.formButton:hover {
  background-color: #0056b3;
}

/* Small screens */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px 0px;
  }

  .container h2 {
    font-size: 1.5rem;
    padding: 0px;
    line-height: 1.5rem;
    margin: 20px 0px 10px 0px;
  }

  .listContainer {
    padding: 0px 30px;
    font-size: 0.8rem;
  }

  .inquiryForm {
    padding: 20px;
    width: 100%;
  }

  .inputGroup {
    flex-direction: column;
    gap: 5px;
  }

  input {
    width: 92%;
  }

  input,
  textarea {
    padding: 5px;
    font-size: 0.8rem;
  }

  textarea {
    height: 3rem;
  }

  .formButton {
    padding: 5px 5px;
    width: 5rem;
    font-size: 0.8rem;
  }
}
