.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 180px 20px 180px;
  color: mediumseagreen;
}

.title {
  line-height: 1em;
  margin: 0;
  color: #00a74a;
  text-shadow: 2px 2px var(--dark-blue);
  z-index: 1;
  font-family: "Ropamix black", sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
}

.titleInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 70px 0px;
}

.titleDescription {
  font-family: "Ropamix light italic";
  line-height: 1.2em;
  font-size: 1.7rem;
  width: 96%;
  margin: 10px;
  text-indent: 5rem;
  text-align: justify;
}

.kidsImage {
  z-index: 1;
  position: relative;
  width: 650px;
  border-radius: 35px 0px;
  margin-left: 30px;
}

.iconContainer {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  color: #0088ff;
}

.icon {
  padding: 10px;
  font-size: 2rem;
  width: 150px;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  padding: 0px;
  font-family: "Ropamix light italic", sans-serif;
  height: 30px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.5s;
  margin: 20px 0px 0px 0px;
}

.stars {
  margin-right: -60%;
  margin-top: -5%;
  width: 200px;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #00a74a;
  margin: 30px;
}

tr {
  font-family: "Ropamix black italic", sans-serif;
}

td {
  font-family: "Ropamix medium italic", sans-serif;
}

td,
th {
  border: 2px solid #c7dfcf;
  text-align: left;
  padding: 15px;
  font-size: 1.7rem;
}

tr:nth-child(2),
tr:nth-child(5),
tr:nth-child(8) {
  background-color: #d2e4d7;
}

.enrollButton {
  width: 120px;
  position: relative;
  z-index: 1;
  font-family: "Ropamix medium italic", sans-serif;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #fbf7e1;
  color: #00a74a;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 20px;
  border: 2px solid #00a74a;
  cursor: pointer;
  animation: fadeInFromBottom 1s ease-in-out;
  transition: all 0.3s;
}

.enrollButton:hover {
  color: #fbf7e1;
  background-color: #00a74a;
}

.enrollButton:focus {
  outline: none;
}

.courses {
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.courseLink {
  text-decoration: none;
}

.coursesTitle {
  padding: 100px 200px 0px 200px;
  color: mediumseagreen;
  font-family: "Ropamix medium italic", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  margin: 0;
  text-align: center;
}

.courseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  text-decoration: none;
}

.concentrate {
  color: mediumseagreen;
  border: 3px solid mediumseagreen;
  transition: 0.3s;
}

.concentrate:hover {
  color: #fffaf4;
  background-color: mediumseagreen;
}

.worldready {
  color: #0189ff;
  border: 3px solid #0189ff;
  transition: 0.3s;
}

.worldready:hover {
  color: #fffaf4;
  background-color: #0189ff;
}

.smartart {
  color: #71f368;
  border: 3px solid #71f368;
  transition: 0.3s;
}

.smartart:hover {
  color: #333;
  background-color: #71f368;
}

.kids {
  color: #ffd700;
  border: 3px solid #ffd700;
  transition: 0.3s;
}

.kids:hover {
  color: #333;
  background-color: #ffd700;
}

.private {
  color: #005299;
  border: 3px solid #005299;
  transition: 0.3s;
}

.private:hover {
  color: #fffaf4;
  background-color: #005299;
}

.presenters {
  color: #5f021f;
  border: 3px solid #5f021f;
  transition: 0.3s;
}

.presenters:hover {
  color: #fffaf4;
  background-color: #5f021f;
}

.business {
  color: #452268;
  border: 3px solid #452268;
  transition: 0.3s;
}

.business:hover {
  color: #fffaf4;
  background-color: #452268;
}

.courseTitle {
  font-family: "Ropamix medium italic";
  /* color: #fffaf4; */
  font-size: 1.5rem;
  text-align: center;
  margin: 5px;
}

.coursesIcons {
  /* color: #fffaf4; */
  padding-top: 0px;
  border-radius: 50%;
  width: 40px;
  height: auto;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .container {
    padding: 50px 20px;
  }

  .title {
    font-size: 3rem;
  }

  .titleInfo {
    flex-direction: column;
    padding: 20px 0;
  }

  .titleDescription {
    font-size: 1.3rem;
    text-indent: 2rem;
    margin: 5px 0;
  }

  .kidsImage {
    width: 100%;
    margin-left: 0;
  }

  .icon {
    width: 100px;
  }

  table,
  td,
  th {
    font-size: 1.2rem;
    padding: 10px;
  }

  .enrollButton {
    width: 100px;
    font-size: 1rem;
  }

  .courses {
    flex-direction: column;
    padding: 20px 0;
  }

  .courseContainer {
    width: 100px;
    height: 100px;
    margin: 10px 0;
  }

  .courseTitle {
    font-size: 1.2rem;
  }

  .coursesIcons {
    width: 30px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 30px 10px;
  }

  .title {
    font-size: 2.5rem;
    align-items: center;
  }

  .descriptionContainer {
    padding-bottom: 30px;
  }

  .titleDescription {
    font-size: 1rem;
    text-indent: 1rem;
  }

  .icon {
    width: 80px;
  }

  table,
  td,
  th {
    font-size: 0.7rem;
    padding: 5px;
    margin: 0px;
  }

  .enrollButton {
    width: 70px;
    padding: 5px;
    font-size: 0.7rem;
  }

  .courseContainer {
    width: 80px;
    height: 80px;
  }

  .courseTitle {
    font-size: 1rem;
  }

  .courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .coursesIcons {
    width: 30px;
  }
}
