.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--yellow);
}

.enrollContainer {
  padding: 120px 20px;
  width: 100%;
}

.title {
  color: #0d0746;
  text-shadow: 3px 3px var(--blue);
  z-index: 1;
  font-family: "Ropamix black", sans-serif;
  font-size: 6rem;
  margin: 45px;
  animation: fadeInFromBottom 1s ease-in-out;
}

.listContainer {
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
}

.enrollContainer h2 {
  padding: 0px 20px;
  font-family: "Ropamix medium italic", sans-serif;
}

.inputTitle {
  margin: 0;
  font-family: "Ropamix medium italic", sans-serif;
  color: var(--blue);
  font-size: 3.5rem;
  transition: 0.3s;
  text-shadow: 2px 2px var(--dark-blue);
}

.inquiryForm {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.formContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.inputGroup {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-bottom: 15px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  box-shadow: 2px 2px var(--dark-blue);
  border-radius: 15px;
  flex: 1;
}

.radioGroupContainer {
  display: flex;
  justify-content: flex-start;
}

.radioGroup {
  /* width: 50%; */
}

.radioGroupInputs {
  padding: 20px 0px;
  font-size: 2.7rem;
  font-family: "Ropamix medium italic", sans-serif;
  color: var(--dark-blue);
}

.radioGroupInputsOptions {
  display: inline;
  width: 300px;
  font-size: 1.3rem;
  border-radius: 5px;
  padding: 5px;
  margin-left: 20px;
  margin-bottom: 5px;
  font-family: "Ropamix medium italic", sans-serif;
}

.formButtonContainer {
  margin: 50px;
}

.formButton {
  font-family: "Ropamix medium italic", sans-serif;
  background-color: var(--blue);
  color: #fff;
  border: none;
  padding: 10px 20px 20px 20px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 3rem;
  width: 100%;
}

.formButton:hover {
  background-color: #0056b3;
}

/* Small screens */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px 0px;
  }

  .container h2 {
    font-family: "Ropamix medium italic", sans-serif;
    font-size: 1.5rem;
    padding: 0px;
    line-height: 1.5rem;
    margin: 20px 0px 10px 0px;
  }

  .listContainer {
    width: 100%;
    padding: 0px 10px;
    font-size: 0.8rem;
  }

  .inquiryForm {
    padding: 20px;
    width: 100%;
  }

  .inputGroup {
    flex-direction: column;
    gap: 5px;
  }

  input {
    width: 92%;
  }

  input,
  textarea {
    padding: 5px;
    font-size: 0.8rem;
  }

  textarea {
    height: 3rem;
  }

  .formButton {
    padding: 5px 5px;
    width: 5rem;
    font-size: 0.8rem;
  }
}

/* Small screens */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 0px;
  }

  .enrollContainer {
    padding: 10px;
    width: auto;
  }

  .title {
    font-size: 2rem;
    margin: 20px 0;
    text-align: center;
    text-shadow: 1px 1px var(--blue);
  }

  .listContainer {
    padding: 0px;
    font-size: 1rem;
    width: 100%;
  }

  .inputTitle {
    font-size: 1.5rem;
    text-align: left;
    text-shadow: 1px 1px var(--blue);
  }

  .radioGroupInputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
  }

  .radioGroupInputsOptions {
    flex: 30%;
    width: 100%;
    font-size: 1rem;
    margin-left: 0;
  }

  .courseOption {
    display: flex;
  }

  .formButtonContainer {
    margin: 20px 0;
    width: 100%;
  }

  .formButton {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
  }

  input,
  textarea {
    flex: 1;
    width: 80%;
    padding: 10px;
    font-size: 1rem;
  }

  .radioInput {
    padding: 0px;
  }

  label {
    flex: auto;
  }

  textarea {
    height: 3rem;
  }
}
