.logoContainer {
  height: 0px;
  opacity: 1;
}

.logo {
  margin-left: 10px;
  border-radius: 50%;
  z-index: 2;
  width: 250px;
  max-width: none;
  flex: none;
  order: -1;
  margin-top: -70px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}
