.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.container h1 {
  color: white;
  font-family: "Futura PT bold", sans-serif;
  text-transform: uppercase;
  padding-left: 10%;
  font-size: 3rem;
  text-shadow: -2px 3px 7px rgb(170, 170, 170);
}

.container section {
  text-indent: 25rem;
}

.container p {
  color: rgba(37, 96, 167, 255);
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-indent: 12rem;
  font-family: "Futura PT light", sans-serif;
}
