.container {
  display: flex;
  flex-direction: column;
  padding: 70px 220px;
  color: mediumseagreen;
}

.container section {
  text-indent: 8rem;
  font-size: 3.5rem;
}

.container h1 {
  margin: 0;
  -webkit-text-stroke: 1.2px mediumseagreen;
  color: transparent;
  z-index: 1;
  /* font-style: normal; */
  font-family: "Futura PT bold", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
}

.info {
  padding: 30px;
  display: flex;
  align-items: center;
}

.reasonOne {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 40px;
}

.reasonOne h2 {
  font-family: "Futura PT bold", sans-serif;
  font-size: 2.3rem;
  font-style: normal;
  width: 65%;
  margin-bottom: 0px;
}

.reasonTwo {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 40px;
}

.reasonTwo h2 {
  z-index: 1;
  font-family: "Futura PT bold", sans-serif;
  font-size: 2.3rem;
  font-style: normal;
  width: 70%;
  margin-bottom: 0px;
}

.reasonTwo p {
  width: 90%;
  z-index: 1;
}

.reasonTwoImg {
  width: 400px;
}

.container p {
  font-family: "Futura PT light", sans-serif;
  font-size: 1.4rem;
  width: 96%;
}

.number {
  -webkit-text-stroke: 1.2px mediumseagreen;
  color: transparent;
  z-index: 1;
  font-style: normal;
  font-family: "Futura PT bold", sans-serif;
  text-transform: uppercase;
  font-size: 20rem;
}

.blobOne {
  width: 50%;
  position: absolute;
  right: 60%;
}

.blobTwo {
  width: 50%;
  position: absolute;
  right: 13%;
}

.blobThree {
  width: 50%;
  position: absolute;
  right: 49%;
}

.blobFour {
  width: 50%;
  position: absolute;
  right: -4%;
}

.image img {
  padding-left: 50px;
  width: 320px;
}

.reasonFour {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 40px;
}

.reasonFour h2 {
  z-index: 1;
  font-family: "Futura PT bold", sans-serif;
  z-index: 1;
  font-size: 2.3rem;
  font-style: normal;
  width: 80%;
  margin-bottom: 0px;
}

.reasonFour p {
  width: 101%;
}

.stars {
  display: flex;
  /* justify-content: flex-end; */
  width: 1340px;
}

.stars img {
  width: 180px;
  margin-top: -110px;
  margin-right: 70px;
  -webkit-animation: mover 1.5s infinite alternate;
  animation: mover 1.5s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
