.container {
  background-color: #fffaf4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 40px;
  width: 100%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  animation: fadeInFromBottom 1s ease-in-out;
}

.container h1 {
  text-align: center;
  position: relative;
  font-style: normal;
  z-index: 2;
  font-family: "Ropamix medium italic", sans-serif;
  margin: 45px;
  color: #0074d9;
  -webkit-text-stroke: transparent;
  font-size: 7.5rem;
}

.description {
  width: 60%;
  /* padding-left: 12%; */
  z-index: 1;
  position: relative;
  color: rgba(37, 96, 167, 255);
  font-size: 2rem;
  color: #333;
  margin: 5px;
  /* text-indent: 8rem; */
  text-align: center;
  font-family: "Ropamix light italic", sans-serif;
  animation: fadeInFromBottom 1s ease-in-out;
}

.bookImage {
  z-index: 1;
  height: 80px;
  margin-top: -100px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.enrollButton {
  position: relative;
  z-index: 1;
  font-family: "Ropamix medium italic", sans-serif;
  text-decoration: none;
  display: block;
  text-align: center;
  /* width: 20%; */
  margin: 4% 37%;
  margin-bottom: 0px;
  padding: 1rem 2rem;
  background-color: #0074d9;
  color: #fffaf4;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  animation: fadeInFromBottom 1s ease-in-out;
}

.enrollButton:hover {
  background-color: #4289db;
}

.enrollButton:focus {
  outline: none;
}

.blobFirst {
  z-index: 5;
  width: 40%;
  position: absolute;
  top: -183px;
  left: -192px;
}

.blobSecond {
  width: 50%;
  position: absolute;
  top: 30%;
  right: -7%;
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
  }

  .containerWidth {
    width: 90%;
  }

  .container h1 {
    font-family: "Ropamix medium italic", sans-serif;
    font-size: 4rem;
  }

  .container p {
    padding-left: 10%;
    font-size: 1.3rem;
    text-indent: 2.3rem;
  }

  .bookImage {
    margin-top: -90px;
  }

  .enrollButton {
    width: 35%;
    margin: 4% auto;
    font-size: 1rem;
    margin-top: 30px;
  }

  .blobSecond {
    display: none;
    width: 100%;
    top: 40%;
    right: -45%;
  }
}

/* Additional media queries for other screen sizes */
/* @media screen and (max-width: 480px) {
  .container p {
    padding-left: 5%;
    font-size: 1.5rem;
    text-indent: 2rem;
  }

  .bookImage {
    margin-top: -30px;
  }
} */
