.container {
  background-color: #fbf7e1;
  background-image: url("../../static/elementary-school-resources.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 40px;
  width: 100%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInFromBottom 1s ease-in-out;
}

.descriptionContainer {
  display: flex;
  align-items: center;
  padding: 20px 50px;
}

.description {
  position: relative;
  /* color: #1090ff;
  text-shadow: 1px 2px #0d064c; */
  color: #fbf7e1;
  text-shadow: 0px 0px 15px #0d064c;
  text-align: center;
  z-index: 1;
  line-height: 1em;
  font-family: "Ropamix black", sans-serif;
  font-size: 4.5rem;
  font-style: normal;
  width: 90%;
  margin-top: 90px;
  margin-bottom: 30px;
  animation: fadeInFromBottom 1s ease-in-out;
}

.titleImage {
  z-index: 1;
  height: 350px;
  /* box-shadow: 0px 0px 20px 9px #0074d9; */
  border-radius: 13px;
  /* padding: 10px; */
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.enrollButton {
  position: relative;
  z-index: 1;
  font-family: "Ropamix medium italic", sans-serif;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 15%;
  margin: 5% 3%;
  padding: 1rem 2rem;
  background-color: #fbf7e1;
  color: #0074d9;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 20px;
  border: 2px solid #0074d9;
  cursor: pointer;
  animation: fadeInFromBottom 1s ease-in-out;
  transition: all 0.3s;
}

.enrollButton:hover {
  color: #fbf7e1;
  background-color: #0074d9;
  top: -10px;
}

.enrollButton:focus {
  outline: none;
}

.iconContainer {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  color: #0088ff;
}

.icon {
  padding: 10px;
  font-size: 2rem;
  width: 100px;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
  }

  .containerWidth {
    width: 90%;
  }

  .container h1 {
    font-family: "Ropamix medium italic", sans-serif;
    font-size: 4rem;
  }

  .container p {
    padding-left: 10%;
    font-size: 1.3rem;
    text-indent: 2.3rem;
  }

  .bookImage {
    margin-top: -90px;
  }

  .enrollButton {
    width: 35%;
    margin: 4% auto;
    font-size: 1rem;
    margin-top: 30px;
  }

  .blobSecond {
    display: none;
    width: 100%;
    top: 40%;
    right: -45%;
  }
}

/* Additional media queries for other screen sizes */
/* @media screen and (max-width: 480px) {
  .container p {
    padding-left: 5%;
    font-size: 1.5rem;
    text-indent: 2rem;
  }

  .bookImage {
    margin-top: -30px;
  }
} */
