.container {
  background-color: #f9d615;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 20px;
  padding-left: 130px;
}

.container h1 {
  color: #fffaf4;
  font-family: "Futura PT bold", sans-serif;
  text-transform: uppercase;
  padding-left: 10%;
  font-size: 2.5rem;
  text-shadow: -2px 3px 7px rgb(170, 170, 170);
}

.container section {
  text-indent: 8rem;
  font-size: 3.5rem;
}

.container p {
  color: rgba(37, 96, 167, 255);
  font-size: 24px;
  color: #333;
  line-height: 10px;
  text-indent: 8rem;
  font-family: "Futura PT light", sans-serif;
}

.enrollButton {
  text-decoration: none;
  display: block;
  text-align: center;
  width: 20%;
  margin: 4% 37%;
  margin-bottom: 0px;
  padding: 1rem 2rem;
  background-color: #337ed5;
  color: #fffaf4;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.enrollButton:hover {
  background-color: #4289db;
}

.enrollButton:focus {
  outline: none;
}

.image {
  display: flex;
  justify-content: flex-end;
  width: 1340px;
}

.image img {
  width: 420px;
  margin-top: -20px;
}
