.container {
  display: flex;
  flex-direction: column;
  padding: 0px 220px 70px 220px;
  color: mediumseagreen;
}

.container span {
  padding-left: 65px;
  font-size: 4.6rem;
}

.container h1 {
  line-height: 1em;
  margin: 0;
  -webkit-text-stroke: 1.2px mediumseagreen;
  color: transparent;
  z-index: 1;
  font-family: "Ropamix bold", sans-serif;
  text-transform: uppercase;
  font-size: 4.6rem;
}

.info {
  padding: 30px;
  display: flex;
  align-items: center;
}

.reasonOne {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 40px;
}

.reasonOne h2 {
  z-index: 1;
  line-height: 1em;
  font-family: "Ropamix bold", sans-serif;
  font-size: 3rem;
  font-style: normal;
  width: 85%;
  margin-bottom: 0px;
}

.reasonTwo {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 40px;
}

.reasonTwo h2 {
  z-index: 1;
  line-height: 1em;
  font-family: "Ropamix bold", sans-serif;
  font-size: 3rem;
  font-style: normal;
  width: 60%;
  margin-bottom: 0px;
}

.reasonTwo p {
  width: 90%;
  z-index: 1;
}

.container p {
  font-family: "Ropamix light italic";
  line-height: 1.2em;
  font-size: 1.7rem;
  width: 96%;
}

.number {
  -webkit-text-stroke: 2.2px mediumseagreen;
  color: transparent;
  z-index: 1;
  font-style: normal;
  font-family: "Futura PT bold", sans-serif;
  text-transform: uppercase;
  font-size: 20rem;
}

.blobOne {
  width: 50%;
  position: absolute;
  right: 60%;
}

.blobTwo {
  width: 50%;
  position: absolute;
  right: 13%;
}

.blobThree {
  width: 50%;
  position: absolute;
  right: 49%;
}

.blobFour {
  width: 50%;
  position: absolute;
  right: -4%;
}

.reasonFour {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.reasonFour h2 {
  z-index: 1;
  line-height: 1em;
  font-family: "Ropamix bold", sans-serif;
  font-size: 3rem;
  font-style: normal;
  width: 80%;
  margin-bottom: 0px;
}

.reasonFour p {
  z-index: 1;
  width: 101%;
}

/* Small screens */
@media screen and (max-width: 768px) {
  .container {
    padding: 0px 20px 70px 20px;
  }

  .container h1 {
    font-size: 2.6rem;
    text-align: center;
  }

  .container p {
    font-size: 1.3rem;
  }

  .number,
  .blobOne,
  .blobTwo,
  .blobThree,
  .blobFour {
    display: none;
  }

  .info {
    padding: 20px;
  }

  .reasonOne {
    padding-left: 10px;
  }

  .reasonOne h2,
  .reasonTwo h2,
  .reasonFour h2 {
    font-family: "Ropamix bold", sans-serif;
    font-size: 2rem;
    width: 100%;
  }

  .reasonTwo {
    padding-left: 10px;
  }

  .reasonFour {
    padding: 0px 0px 0px 10px;
  }
}
