.container {
  display: flex;
  flex-direction: column;
  padding: 70px 300px;
  color: mediumseagreen;
}

.container h1 {
  font-family: "Futura PT light", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
}

.container h2 {
  font-family: "Futura PT bold", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
}

.container p {
  font-family: "Futura PT light", sans-serif;
  font-size: 1.4rem;
}
