.container {
  display: flex;
  flex-direction: column;
  padding: 70px 90px;
  background-color: mediumseagreen;
  margin: 105px 0px;
  color: #fffaf4;
}

.container h2 {
  font-family: "Futura PT bold", sans-serif;
  font-size: 2.3rem;
  font-style: normal;
  margin: 0;
}

.container p {
  margin: 0;
  font-family: "Futura PT light", sans-serif;
  font-size: 23px;
  padding-bottom: 30px;
}

.reasons {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.reasons section {
  color: gold;
  padding-right: 25px;
  padding-bottom: 10px;
  font-size: 3.8rem;
}

.reasons p {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: row;
}

.column p {
  width: 450px;
}
