.sliderContainer {
  padding: 50px;
}

.slider {
  max-width: 800px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.2);
}

.slide {
  background: linear-gradient(135deg, #ffd700 50%, #0089ff 100%);
  display: none;
  padding: 20px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.text {
  font-family: "Ropamix medium italic";
  width: 80%;
  font-size: 20px;
  font-style: italic;
  color: var(--blue);
  margin-bottom: 15px;
  position: relative;
}

.text::before {
  content: '"';
  font-size: 80px;
  color: var(--blue);
  position: absolute;
  left: -30px;
  bottom: -30px;
}

.text::after {
  content: '"';
  font-size: 80px;
  color: var(--blue);
  position: absolute;
  right: -20px;
  bottom: -30px;
}

.parentInfo {
  font-size: 16px;
  color: #555;
}

.parentName {
  font-family: "Ropamix extra light";
  font-weight: bold;
  margin-bottom: 5px;
}

.childInfo {
  font-family: "Ropamix light italic";
  font-style: italic;
  margin-top: 5px;
}

.navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prevSlide,
.nextSlide {
  font-size: 1.5em;
  cursor: pointer;
  color: var(--blue);
  padding: 20px;
  transition: background-color 0.3s ease;
}

.prevSlide:hover,
.nextSlide:hover {
  color: #319efe;
}
