.footer {
  background-color: mediumseagreen;
  color: #fffaf4;
  height: auto;
  padding: 20px 150px 0px 150px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  font-style: normal;
  font-family: "Ropamix light italic", sans-serif;
  font-size: 1.2rem;
}

.footerSectionContainer {
  display: flex;
}

.footerSection {
  padding: 0px 40px;
  line-height: 1em;
  width: 40%;
}

.footerSection p {
  margin: 15px 0px;
}

.footerSection a {
  text-decoration: none;
  color: #fffaf4;
  margin: 15px 0px;
  display: block;
}

.logoContainer {
  height: auto;
  opacity: 1;
  padding-top: 30px;
}

.logo {
  width: 170px;
  max-width: none;
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.creator {
  background-color: mediumseagreen;
  color: #fffaf4;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 50px;
  margin-top: -30px;
}

.creator p {
  opacity: 0.7;
  font-family: "Ropamix light italic", sans-serif;
  font-style: normal;
}

/* Small screens */
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 0px;
    width: 100%;
  }

  .footerSectionContainer {
    flex-direction: column;
  }

  .footerSection p {
    margin: 5px;
  }

  .logoContainer {
    display: flex;
    justify-content: center;
  }

  .creator {
    padding-right: 20px;
    font-size: 0.8rem;
  }
}
