.container {
  background-color: #fffcf0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 220px;
}

.title {
  opacity: 0;
  color: #00a74a;
  font-family: "Ropamix black", sans-serif;
  text-transform: uppercase;
  font-size: 5.5rem;
  text-shadow: 3px 3px var(--dark-blue);
  text-align: center;
}

.titleAnimation {
  opacity: 1;
  animation: fadeInFromBottom 1s ease-in-out;
}

.container p {
  color: rgba(37, 96, 167, 255);
  font-size: 1.7rem;
  color: #00a74a;
  line-height: 30px;
  font-family: "Ropamix light italic";
  text-align: justify;
}

.teacherContainer {
  display: flex;
}

.teacherImage {
  opacity: 0;
  width: 350px;
  border-radius: 50%;
}

.teacherImageAnimation {
  opacity: 1;
  animation: fadeInFromBottom 1s ease-in-out;
}

.teacherDescription {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 40px;
  padding-bottom: 50px;
}

.teacherTitle {
  opacity: 0;
  color: #00a74a;
  text-shadow: 2px 2px var(--dark-blue);
  font-family: "Ropamix medium italic", sans-serif;
  font-size: 3.3rem;
  font-style: normal;
  width: 65%;
  margin: 0px;
}

.teacherTitleAnimation {
  opacity: 1;
  animation: fadeInFromBottom 1s ease-in-out;
}

.teacherDescriptionParagraph {
  opacity: 0;
}

.teacherDescriptionParagraphAnimation {
  opacity: 1;
  animation: fadeInFromBottom 1s ease-in-out;
}

.teacherLarita {
  padding-top: 50px;
}

.teacherBetina {
  padding: 70px 0px 0px 40px;
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Small screens */
@media screen and (max-width: 768px) {
  .container {
    padding: 0px 20px 70px 20px;
    padding-top: 30px;
    align-items: center;
  }

  .container h1 {
    font-size: 1.8rem;
    margin: 40px 0px;
    padding-left: 0px;
    text-align: center;
  }

  .container p {
    font-size: 1.3rem;
    text-indent: 2rem;
    font-family: "Ropamix light italic", sans-serif;
    margin: 0px 10px 20px 10px;
  }

  .teacherContainer {
    flex-direction: column;
    align-items: center;
  }

  .teacherImage {
    width: 300px;
  }

  .teacherDescription {
    padding: 20px 0px;
  }

  .teacherDescription h2 {
    font-family: "Ropamix medium italic", sans-serif;
    font-size: 2.6rem;
    padding: 20px 0px;
    width: 100%;
    text-align: center;
  }

  .teacherLarita {
    padding: 0px;
  }

  .teacherContainerBetina {
    flex-direction: column-reverse;
    align-items: center;
  }

  .teacherBetina {
    padding: 0px;
  }
}
