.container {
  background-color: #fffcf0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 110px 200px 110px;
  z-index: 1;
}

.container h1 {
  -webkit-text-stroke: 1.2px mediumseagreen;
  color: transparent;
  z-index: 1;
  font-family: "Ropamix bold italic", sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  margin: 25px;
  padding-left: 200px;
}

.container p {
  color: rgba(37, 96, 167, 255);
  font-size: 1.7rem;
  color: mediumseagreen;
  text-indent: 8rem;
  font-family: "Ropamix light italic", sans-serif;
  line-height: 1.2em;
  margin: 0px 0px 20px 50px;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.image {
  z-index: 1;
  position: relative;
  width: 650px;
  border-radius: 35px 0px;
}

.blobOne {
  width: 70%;
  position: absolute;
  right: -30%;
}

.blobTwo {
  width: 70%;
  position: absolute;
  right: 42%;
}

/* Small screens */
@media screen and (max-width: 768px) {
  .container {
    padding: 0px 20px 70px 20px;
    padding-top: 30px;
    align-items: center;
  }

  .container h1 {
    font-size: 2.6rem;
    margin: 40px 0px;
    padding-left: 0px;
  }

  .container p {
    font-size: 1.3rem;
    text-indent: 3rem;
    font-family: "Ropamix light italic", sans-serif;
    margin: 0px 0px 20px 20px;
  }

  .description {
    flex-direction: column-reverse;
  }

  .image {
    width: 350px;
    padding: 30px 0px 0px 0px;
    border-radius: 60px 0px;
  }

  .blobOne,
  .blobTwo {
    display: none;
  }
}
