.container {
  padding: 100px 200px;
  background: linear-gradient(181deg, mediumseagreen 50%, #0189ff 85%);
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: baseline;
  padding: 50px;
}

.title h1 {
  font-family: "Ropamix medium italic", sans-serif;
  font-size: 5.5rem;
  font-style: normal;
  margin: 0;
  color: #fffaf4;
}

.title h2 {
  font-family: "Ropamix medium italic", sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  margin: 0;
  color: #fffaf4;
  padding: 20px;
}

.description {
  width: 90%;
  font-family: "Ropamix light italic";
  line-height: 1.2em;
  font-size: 1.7rem;
  color: #fffaf4;
}

.phrase {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}
