.container {
  padding: 100px 200px 50px 200px;
  background: linear-gradient(90deg, mediumseagreen 50%, #0189ff 100%);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  display: flex;
  align-items: baseline;
  padding: 50px;
}

.title h1 {
  font-family: "Ropamix medium italic", sans-serif;
  font-size: 5.5rem;
  font-style: normal;
  margin: 0;
  color: #fffaf4;
}

.title h2 {
  font-family: "Ropamix medium italic", sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  margin: 0;
  color: #fffaf4;
  padding: 20px;
}

.description {
  width: 90%;
  font-family: "Ropamix light italic";
  line-height: 1.2em;
  font-size: 1.7rem;
  color: #fffaf4;
}

.phrase {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Small screens */
@media screen and (max-width: 768px) {
  .container {
    padding: 0px 20px 70px 20px;
    background: linear-gradient(180deg, mediumseagreen 50%, #0189ff 90%);
  }

  .title {
    padding: 50px 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .title h1 {
    font-size: 2.8rem;
    text-align: center;
  }

  .title h2 {
    font-size: 1.6rem;
    text-align: center;
    padding: 0px;
  }

  .description {
    width: none;
    font-size: 1.3rem;
    padding: 0px 20px;
  }

  .phrase {
    line-height: 1;
  }
}
