.container {
  padding: 90px 200px 50px 200px;
  background: linear-gradient(135deg, #ffd700 50%, #0089ff 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.title {
  display: flex;
  align-items: baseline;
  padding: 50px;
  justify-content: flex-end;
  text-shadow: 3px 3px #fffaf4;
}

.title h1 {
  font-family: "Ropamix medium italic", Arial, sans-serif;
  font-size: 7rem;
  font-style: normal;
  margin: 0;
  color: #333;
}

.title h2 {
  font-family: "Ropamix medium italic", Arial, sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  margin: 0;
  color: #333;
  padding: 20px;
}

.description {
  /* width: 90%; */
  font-family: "Ropamix light italic", Arial, sans-serif;
  line-height: 1.2em;
  font-size: 1.8rem;
  color: #333;
  text-align: justify;
  text-indent: 5rem;
}

.phrase {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.starsContainer {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  color: #0088ff;
}

.stars {
  padding: 10px;
  font-size: 2rem;
  width: 150px;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.courseScheduleContainer {
  display: flex;
  justify-content: center;
  padding-top: 85px;
}

.courseSchedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  width: 250px;
  padding: 50px;
  margin: 0px 50px;
  border-radius: 5%;
  border: 2px solid #333;
  text-align: center;
  transition: 0.5s;
}

.courseSchedule:hover {
  background-color: #333;
  color: #ffd700;
}

.icon {
  padding: 10px;
  background-color: #333;
  color: #ffd700;
  border-radius: 50%;
  margin-top: -28%;
  margin-bottom: 10%;
}

.courseScheduleDescription {
  font-family: "Ropamix medium italic", sans-serif;
  line-height: 1em;
  font-size: 2rem;
  text-align: center;
  margin: 20px;
}

.courseScheduleNote {
  color: #333;
  text-align: center;
  font-family: "Ropamix light italic", sans-serif;
  font-size: 1.3rem;
  padding-top: 20px;
}

.courseScheduleLink {
  text-decoration: none;
  color: #333;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px 20px 50px 20px;
    background: linear-gradient(180deg, #ffd700 80%, #005299 100%);
  }

  .title {
    padding: 40px 0px;
  }

  .title h1 {
    font-size: 1.7rem;
    text-align: center;
  }

  .title h2 {
    font-size: 1.1rem;
    text-align: center;
    padding: 0px 5px;
  }

  .description {
    font-size: 1.3rem;
    padding: 0px 20px;
    text-indent: 1rem;
  }

  .phrase {
    padding: 20px 0px;
    font-size: 1.5rem;
    text-align: center;
  }

  .starsContainer {
    padding: 10px 0px;
  }

  .stars {
    width: 100px;
  }

  .courseScheduleContainer {
    padding-top: 50px;
  }

  .courseSchedule {
    width: 90%;
    padding: 20px;
    margin: 10px 5px;
  }

  .courseScheduleDescription {
    font-size: 1.2rem;
    margin: 10px 0;
  }

  .icon {
    margin-top: -20%;
    margin-bottom: 10%;
  }

  .courseScheduleNote {
    font-size: 1rem;
    padding-top: 10px;
  }

  .courseScheduleLink {
    font-size: 1rem;
  }
}
