.slideshow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.slides {
  display: none;
}

.active {
  display: block;
  transition: all 0.5 ease-in-out;
}

.prevButton,
.nextButton {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  position: relative;
  z-index: 2;
  margin-top: 10px;
  cursor: pointer;
}

.prevButton {
  margin-right: -10%;
}

.nextButton {
  margin-left: -10%;
}

.icon {
  font-size: 3rem;
  padding: 20px;
}

/* Small screens */
@media screen and (max-width: 768px) {
  .prevButton,
  .nextButton {
    display: none;
  }
}
