.slideshow {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* text-align: center; */
}

.slide {
  width: 100%;
  /* max-width: 400px; */
  padding: 20px;
  /* border: 1px solid #ccc; */
  margin-bottom: 20px;
}

button {
  height: 100px;
  margin-top: 10px;
  cursor: pointer;
}
