.container {
  padding: 0px 200px 200px 200px;
  background: linear-gradient(181deg, #71f368 50%, #ffd700 95%);
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: baseline;
  padding: 50px;
}

.title h1 {
  font-family: "Ropamix medium italic", sans-serif;
  font-size: 5.5rem;
  font-style: normal;
  margin: 0;
  color: #333;
}

.title h2 {
  font-family: "Ropamix medium italic", sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  margin: 0;
  color: #333;
  padding: 20px;
}

.description {
  width: 90%;
  font-family: "Ropamix light italic";
  line-height: 1.2em;
  font-size: 1.7rem;
  color: #333;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0px 20px 70px 20px;
  }

  .title {
    padding: 50px 0px;
    justify-content: center;
  }

  .title h1 {
    font-size: 2.6rem;
    text-align: center;
  }

  .title h2 {
    font-size: 1.6rem;
    text-align: center;
    padding: 5px;
  }

  .description {
    width: none;
    font-size: 1.3rem;
    padding: 0px 20px;
  }

  .phrase {
    line-height: 1;
  }
}
