.container {
  padding: 0px 200px 150px 200px;
  background: linear-gradient(181deg, #0189ff 50%, #71f368 95%);
  /* background-color: #0189ff; */
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: baseline;
  padding: 50px;
  justify-content: flex-end;
}

.title h1 {
  font-family: "Ropamix medium italic", sans-serif;
  font-size: 5.5rem;
  font-style: normal;
  margin: 0;
  color: #fffaf4;
}

.title h2 {
  font-family: "Ropamix medium italic", sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  margin: 0;
  color: #fffaf4;
  padding: 20px;
}

.description {
  width: 90%;
  font-family: "Ropamix light italic";
  line-height: 1.2em;
  font-size: 1.7rem;
  color: #fffaf4;
}

.phrase {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}
