.container {
  padding: 90px 200px 50px 200px;
  background: linear-gradient(135deg, #0189ff 50%, #71f368 100%);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  display: flex;
  align-items: baseline;
  padding: 50px;
  justify-content: flex-end;
}

.title h1 {
  font-family: "Ropamix medium italic", sans-serif;
  font-size: 5.5rem;
  font-style: normal;
  margin: 0;
  color: #fffaf4;
}

.title h2 {
  font-family: "Ropamix medium italic", sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  margin: 0;
  color: #fffaf4;
  padding: 20px;
}

.description {
  width: 90%;
  font-family: "Ropamix light italic";
  line-height: 1.2em;
  font-size: 1.7rem;
  color: #fffaf4;
  text-align: justify;
  text-indent: 5rem;
}

.phrase {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.starsContainer {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  color: #0088ff;
}

.stars {
  padding: 10px;
  font-size: 2rem;
  width: 150px;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.courseScheduleContainer {
  display: flex;
  justify-content: center;
  padding-top: 85px;
}

.courseSchedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fffaf4;
  width: 250px;
  padding: 50px;
  margin: 0px 50px;
  border-radius: 5%;
  border: 2px solid #fffaf4;
  text-align: center;
  transition: 0.5s;
}

.courseSchedule:hover {
  background-color: #fffaf4;
  color: #0189ff;
}

.icon {
  padding: 10px;
  background-color: #fffaf4;
  color: #0189ff;
  border-radius: 50%;
  margin-top: -28%;
  margin-bottom: 10%;
}

.courseScheduleDescription {
  font-family: "Ropamix medium italic", sans-serif;
  line-height: 0.2em;
  font-size: 2rem;
  text-align: center;
}

.courseScheduleNote {
  color: #fffaf4;
  text-align: center;
  font-family: "Ropamix light italic", sans-serif;
  font-size: 1.3rem;
  padding-top: 20px;
}

.courseScheduleLink {
  text-decoration: none;
  color: #fffaf4;
}

/* Small screens */
@media screen and (max-width: 768px) {
  .container {
    padding: 0px 20px 70px 20px;
    background: linear-gradient(180deg, #0189ff 50%, #71f368 90%);
  }

  .title {
    padding: 50px 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .title h1 {
    font-size: 2.8rem;
    text-align: center;
  }

  .title h2 {
    font-size: 1.6rem;
    text-align: center;
    padding: 0px;
  }

  .description {
    width: none;
    font-size: 1.3rem;
    padding: 0px 20px;
  }

  .phrase {
    line-height: 1;
  }
}
