@font-face {
  font-family: "Futura PT bold";
  font-weight: bold;
  src: url("./fonts/Futura XBlk BT.ttf") format("truetype");
}

@font-face {
  font-family: "Futura PT light";
  font-style: italic;
  src: url("./fonts/futura light bt.ttf") format("truetype");
}

@font-face {
  font-family: "Ropamix regular";
  font-style: italic;
  src: url("./fonts/RopaMixPTT-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ropamix light italic";
  font-style: italic;
  src: url("./fonts/RopaMixPTT-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Ropamix bold italic";
  font-style: italic;
  src: url("./fonts/RopaMixPTT-BlackItalic.ttf") format("truetype");
}
