body {
  font-family: "Ropamix regular", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fbf7e1;
  overflow-x: hidden;
}

:root {
  --blue: #0074d9;
  --dark-blue: #0d064c;
  --yellow: #e5cd15;
}
