.buttonsContainer {
  position: absolute;
  right: 20px;
}

.flagButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0px 5px;
}

.flagButton img {
  width: 30px;
  height: auto;
  vertical-align: middle;
}

/* Small screens */
@media screen and (max-width: 768px) {
  .buttonsContainer {
    right: 5px;
    top: 2px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .flagButton {
    padding: 2px 2px;
  }

  .flagButton img {
    width: 20px;
  }
}
